@{
    ViewData["Title"] = "Profile";
}

<section>
    <h1 class="display-4">Proto-Profile Page</h1>
    <table>
        <tr>
            <th>Profile</th>
        </tr>
        <tr>
            <th>
                <img src="~/Images/rubber_duck.jpg" height="500" width="500" />
            </th>
        </tr>
    </table>

    <div class="grid-container">
        <div class="grid-child 1">
            <table>
                <tr>
                    <th>
                        Sigurd Skov Jensen
                    </th>
                </tr>
                <tr>
                    <th>
                        Adresse/kontaktoplysninger
                    </th>
                </tr>
            </table>
        </div>

        <div class="grid-child 2">
            <table>
                <tr class="align-items-center">
                    <th>
                        Givet:  ♥
                    </th>
                </tr>
                <tr>
                    <th>
                        Købt:   ♦
                    </th>
                    <th>
                        Lånt:   ♣
                    </th>
                </tr>
                <tr>
                    <th>
                        Udlånt: ♠
                    </th>
                    <th>
                        Solgt:  ◘
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <h4>Score/Rating ☻</h4>
</section>
