@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WearHouse</h1>
    <h2>Revive your Apparel</h2>
    <p></p>

    <div>
      <input name="searchfield" placeholder="Search" type="text" value=""/>
      <input name="searchbutton" type="submit" value="Go!"/><br>
    </div>
</div>
