@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
  <h1 class="display-4">WearHouse</h1>
  <br>
  <br>
  <h2>Revive your Apparel</h2>
  <div>
    <input name="searchfield" placeholder="Search" type="text" value=""/>
    <input name="searchbutton" type="submit" value="Go!"/><br>
  </div>
</div>
