@{
    ViewData["Title"] = "Overvejelser";
}
<h1>@ViewData["Title"]</h1>

<p>Man kan fremvise HTML relativt let</p>
<p>Jeg har ikke tilkoblet en database</p>
<p>Den kører ikke på en separat server, som det står lige nu</p>
