@model List<WearHouse_WebApp.Models.Domain.WearableModel>
@using WearHouse_WebApp.Models.Domain

@{
    //Only want active items
    List<WearableState> validStates = Enum.GetValues(typeof(WearableState)).Cast<WearableState>().ToList();
    validStates.Remove(WearableState.Inactive);
}


<div class="row">
@foreach (var state in validStates)
{
    <div class="column1">
        <h2>@state</h2>
        @foreach (var post in Model.Where(post => post.State == state))
        {
            <div class="index-element">
                <form asp-controller="Home" asp-action="WearablePost" asp-route-id="@post.ID">
                    <button class="seethrough-button" />
                    <div>
                        @if (post.ImageUrls != null)
                        {
                            <img src=@post.ImageUrls[0] class="profile-image-location" />
                        }
                        else
                        {
                            <img src="Image/noShirt.png" class="profile-image-location" />
                        }
                    </div>
                    <p class="profile-wearable-title"> @post.Title </p>
                    <p class="wearable-owner">
                        Owner: <span id="owner-username">@post.Owner.Username</span>
                    </p>
                </form>
            </div>
        }
    </div>
}
</div>