@using WearHouse_WebApp.Models.ViewModels
@{
    ViewData["title"] = "WearableViewModel Post";
    WearableViewModel wearableViewModel = (WearableViewModel)ViewData["wearableViewModel"];
}

<div class="text-center">
    <h1>@wearableViewModel.Title</h1>

    <div id="post-image" style="float:right">
        <img src="/Presets/wearable_image_template.JPG" width="200" />
    </div>

    <div id="post-information" style="text-align:left;float:none" >
        <label style="font-weight:bold">Post owner</label>
        <p>@wearableViewModel.Username</p>
        <label style="font-weight:bold">Description</label>
        <p>@wearableViewModel.Description</p>
    </div>
</div>
