@using WearHouse_WebApp.Models.ViewModels
@using WearHouse_WebApp.Models.Domain
@model WearableModel
@{
    ViewData["title"] = "WearableViewModel Post";
}

<div id="wearablePost-user-info">
    <h1>@Model.dbModel.Title</h1>
    <div class="profile-border">
        <p>
            @Model.dbModel.Description
        </p>
    </div>  
    <div>

    </div>
</div>

<div id="wearablePost-images">

</div>
